    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">


            <div class="col-lg-3">
                <h2 class="h2 pb-4 text-center fw-bold">Categorías</h2>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Vitaminas y Suplementos
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Vitamina A</a></li>
                            <li><a class="text-decoration-none" href="#">Vitamina B</a></li>
                            <li><a class="text-decoration-none" href="#">Vitamina C</a></li>
                            <li><a class="text-decoration-none" href="#">Vitamiba D</a></li>
                            <li><a class="text-decoration-none" href="#">Vitamiba E</a></li>
                            <li><a class="text-decoration-none" href="#">Vitamiba K</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Hiervas y minerales
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Oregano</a></li>
                            <li><a class="text-decoration-none" href="#">Zinc</a></li>
                        </ul>
                    </li>
                </ul>
                <h2 class="h2 pb-4 text-center fw-bold">Ofertas</h2>
                <div class="card mb-3" style="max-width: 500px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="shop-single.html">
                                <img src="assets/img/shop_01.jpg" class="img-fluid rounded-start col-12" alt="imagen1">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title titulosDestacado">Turmeric Curcumin</h5>
                                <p class="card-text sinMargin"><b>US</b><b class="precio"> $5.00</b></p>
                                <div class="contenedorDescuento">
                                    <p class="precioOriginal sinMargin"><del><i>$10</i></del></p>
                                    <div class="cajaDescuento">
                                        <p class="descuento">-50%</p>
                                    </div>
                                </div>
                                <p class="card-text"><small class="text-muted">32 Vendidos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Cuadros de ofertas-->
                <div class="card mb-3" style="max-width: 500px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="shop-single.html">
                                <img src="assets/img/shop_02.jpg" class="img-fluid rounded-start col-12" alt="imagen1">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title titulosDestacado">Omage-3</h5>
                                <p class="card-text sinMargin"><b>US</b><b class="precio"> $10.00</b></p>
                                <div class="contenedorDescuento">
                                    <p class="precioOriginal sinMargin"><del><i>$25</i></del></p>
                                    <div class="cajaDescuento">
                                        <p class="descuento">-40%</p>
                                    </div>
                                </div>
                                <p class="card-text"><small class="text-muted">28 Vendidos</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 500px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="shop-single.html">
                                <img src="assets/img/shop_05.jpg" class="img-fluid rounded-start col-12" alt="imagen1">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title titulosDestacado">C-1000 mg</h5>
                                <p class="card-text sinMargin"><b>US</b><b class="precio"> $8.00</b></p>
                                <div class="contenedorDescuento">
                                    <p class="precioOriginal sinMargin"><del><i>$12</i></del></p>
                                    <div class="cajaDescuento">
                                        <p class="descuento">-66%</p>
                                    </div>
                                </div>
                                <p class="card-text"><small class="text-muted">45 Vendidos</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 500px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="shop-single.html">
                                <img src="assets/img/shop_08.jpg" class="img-fluid rounded-start col-12" alt="imagen1">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title titulosDestacado">Alpha Lipoic Acid</h5>
                                <p class="card-text sinMargin"><b>US</b><b class="precio"> $14.00</b></p>
                                <div class="contenedorDescuento">
                                    <p class="precioOriginal sinMargin"><del><i>$30</i></del></p>
                                    <div class="cajaDescuento">
                                        <p class="descuento">-47%</p>
                                    </div>
                                </div>
                                <p class="card-text"><small class="text-muted">23 Vendidos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="row align-middle">
                    <div class="col-md-6 text-wrap text-end">
                        <p>Ordenar los productos según:</p>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Menor precio</option>
                                <option>Mayor precio</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <!-- aqui van los productos -->
                <section class="products">

                  <!-- producto -->
                    <div class="product-card">
                      <div class="product-image">
                        <img src="assets/img/shop_08.jpg">
                      </div>
                      <div class="product-info">
                        <h2>Vitamina C</h2>
                        <h3>$14.99</h3>
                      </div>
                    </div>
                    
                    <!-- mas productos -->
                  
                  </section>

                <div div="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#"
                                tabindex="-1">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                                href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>