<!-- Start Content -->
<div class="container py-5">    <!-- aqui van los productos -->
      <!-- producto -->
      <div class="container-fluid content-row">
        <div class="row ">
          <div class="col-md-3" *ngFor="let producto of productos">
            <div class="card h-100" style="width: 15rem">
              <img
                class="card-img-top"
                src="assets/img/{{ producto.imagen }}"
                alt="Card image cap"
              />
              <div class="card-body">
                <h3 class="card-title">{{ producto.nombre }}</h3>
                <h4 class="card-text">${{ producto.precio }}</h4>
                <p *ngIf="producto.descuento.descuento != '0'" class="card-text">Descuento: {{ producto.descuento.descuento}}%</p>
                <a href="catalogo/{{producto.id}}" class="btn btn-primary"> Ver reseñas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
