<div class="d-grid gap-4 m-5 text-center wrapper">
    <h1>Stadistics</h1>
    <div class="p-2 scroller">
        <h2 class="mt-5 mb-5">Vitamins sold</h2>
        <div id="vitaminsChart"></div>
    </div>
    <div class="p-2 scroller">
        <h2 class="mt-5 mb-5">Suplements sold</h2>
        <div id="suplementsChart"></div>
    </div>
    <div class="p-2 scroller">
        <h2 class="mt-5 mb-5">Herbs sold</h2>
        <div id="herbsChart"></div>
    </div>
    <div class="p-2 scroller">
        <h2 class="mt-5 mb-5">Minerals sold</h2>
        <div id="mineralsChart"></div>
    </div>
</div>