<!-- Start Section -->
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1 text-success">Desarrolladores</h1>
        </div>
    </div>

    <!--Prueba-->

    <div class="row align-items-center">
        <div class="col-lg-3 m-auto">
            <!--6-->
            <h1 class="h1">Alfredo Calle</h1>
            <p>
                Carrera: Computación<br> Edad: 21 años<br> Correo: alfrcall@espol.edu.ec<br>
                Hobbies: Escuchar música, ver series y nadar
            </p>
        </div>

        <div class="col-lg-3 m-auto">
            <img id="about" src="assets/img/alfredocalle.jpg" alt="alfredocalle">
        </div>
    </div>

    <div class="row align-items-center py-5">
        <div class="col-lg-3 m-auto">
            <!--6-->
            <h1 class="h1">María Rivera</h1>
            <p>
                Carrera: Computación<br> Edad: 22 años<br> Correo: marrcarr@espol.edu.ec<br>
                Hobbies: Escuchar música, cantar, tocar guitarra, jugar baloncesto
            </p>
        </div>

        <div class="col-lg-3 m-auto">
            <img id="about" src="assets/img/mariarivera.jpg" alt="alfredocalle">
        </div>
    </div>


    <div class="row align-items-center py-5">
        <div class="col-lg-3 m-auto">
            <!--6-->
            <h1 class="h1">Eddy Calderon</h1>
            <p>
                Carrera: Computación<br> Edad: 22 años<br> Correo: eddrcald@espol.edu.ec<br>
                Hobbies: Escuchar música, cantar, tocar guitarra, jugar baloncesto, tenis y play
            </p>
        </div>

        <div class="col-lg-3 m-auto">
            <img id="about" src="assets/img/eddycalderon.jpg" alt="alfredocalle">
        </div>
    </div>

    <div class="row align-items-center py-5">
        <div class="col-lg-3 m-auto">
            <!--6-->
            <h1 class="h1">Carlos Moncayo</h1>
            <p>
                Carrera: Computación<br> Edad: 22 años<br> Correo: caraumon@espol.edu.ec<br>
                Hobbies: Ver anime, videojuegos, leer y correr
            </p>
        </div>

        <div class="col-lg-3 m-auto">
            <img id="about" src="assets/img/carlosmoncayo.jpg" alt="alfredocalle">
        </div>
    </div>

    <!--Fin-->
</section>